@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Chivo Mono', monospace;
  font-size: 20px;
  font-weight: bolder;
}

.twoHalfLayout {
  display: flex;
} 
body{
  background-color: rgb(85, 54, 146);
  color: azure;
}

.right-column{
    width: 50%;
    margin: 1em;
    text-align: center;
    background-color: aqua;
    background-color m ;
}
.left-column {
  width: 50%;
  margin: 10px;
}

img{
    width: 600px;
    height: 600px;

}
