body{
    background-color: rgb(32, 181, 245);
    width: 90%;
    height: 100%;
}
h1{
    font-size:40px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns:repeat(3,350px);
    grid-column-gap:10px;
}
.grid1 img{
    border-radius: 5px;
    width: auto;
    height: 400px;
    padding: 0;
    margin: 0;
}
.grid2 img{
    border-radius: 5px;
    width: auto;
    height: 398px;
    padding: 0;
    margin: 0;

}
.grid3 img{
    border-radius: 5px;
    width: auto;
    height: 398px;
    padding: 0;
    margin: 0;
}
p1,p2,p3{
    font-size: 30px;
}